.criteria {
  width: 60%;
  border: solid 2px gray;
  padding: 2rem;
}

.objectives {
  margin: 1rem;
}

.objective {
  margin-left: 2rem;
}

.objective p {
  text-align: left;
}

.deliverable {
  margin-left: 2rem;
  margin-bottom: 2px;
}
